<div class="col-12 offset-4">
  <br />
  <br />
  <br />


  <table id="chessboard">
  



    <% (1..8).to_a.reverse.each do |row_number| %>
      <tr>
        <% ["A","B","C","D","E","F","G","H"].each_with_index do |rank , index| %>
 
        

          <% if row_number.odd? %>
            <% if index.even? %>
              <td class="black tile">

                <%= highlight %>
                <%= check_piece(index + 1, row_number) %>


              </td> 
            <% else %>
              <td class="white tile">

                <%= highlight %>
                <%= check_piece(index + 1, row_number) %>

 


              </td>
            <% end %>
          <% else %>
            <% if index.even? %>
              <td class="white tile">

                <%= highlight %>
                <%= check_piece(index + 1, row_number) %>

              </td>
            <% else %>
              <td class="black tile">

                <%= highlight %>
                <%= check_piece(index + 1, row_number) %>

              </td>
            <% end %>
          <% end %>
        <% end %>
      </tr>
    <% end %>
  </table>
</div>


