
<br/>
<div id="action_box" class="col-10 offset-4 row">
<h4> Next move: &nbsp; &nbsp;</h4>
  <% if @local_game.next_player_id == @local_game.white_player.id %>
   <h4> <%= "White Player" %> </h4>
  <% else %>
   <h4><%= "Black Player" %> </h4>
  <% end %>
</div>
<hr/>
<div id="game_board" data-current_player=<%= current_user.id %> data-move_player=<%= @local_game.next_player_id %> data-white_player=<%= @local_game.white_player.id %> class="col-10 offset-4">

  <table class="chessboard">

    <% (1..8).to_a.reverse.each do |row_number| %>
      <tr>
        <% ["A","B","C","D","E","F","G","H"].each_with_index do |rank , index| %>
          <% piece = @local_pieces.find {|piece| piece.position_y == row_number && piece.position_x == index+1} %>

          <% if row_number.odd? %>
            <% if index.even? %>
              <td class="black tile droppable draggable" data-position_x=<%= index+1 %> data-position_y=<%= row_number %> data-piece-id= <%= piece ? piece.id : nil %>>
                <%= check_piece(index + 1, row_number) %>
              </td>
            <% else %>
              <td class="white tile droppable draggable "  data-position_x=<%= index+1 %> data-position_y=<%= row_number %> data-piece-id= <%= piece ? piece.id : nil %>>
                <%= check_piece(index + 1, row_number) %>
              </td>
            <% end %>
          <% else %>
            <% if index.even? %>
              <td class="white tile droppable draggable" data-position_x=<%= index+1 %> data-position_y=<%= row_number %> data-piece-id= <%= piece ? piece.id : nil %>>
                <%= check_piece(index + 1, row_number) %>
              </td>
            <% else %>
              <td class="black tile droppable draggable" data-position_x=<%= index+1 %> data-position_y=<%= row_number %> data-piece-id= <%= piece ? piece.id : nil %>>
                <%= check_piece(index + 1, row_number) %>
              </td>
            <% end %>
          <% end %>
        <% end %>
      </tr>
    <% end %>
  </table>

</div>
<br class="clear"/>
<hr/>
<% if @local_game.result == nil %>
      <h4 >Available actions: &nbsp; &nbsp; </h4>
  <div id="action_box" class="col-10 offset-4 row">
      
      <%= link_to 'Castle Queen side', castle_queen_side_game_path(@local_game), method: :post, style: "margin-left: 10px", class: 'btn btn-primary btn-success',data: {confirm: 'Are you sure?'} %>
      <%= link_to 'Castle King side', castle_king_side_game_path(@local_game), method: :post, style: "margin-left: 10px",class: 'btn btn-primary btn-success',data: {confirm: 'Are you sure?'} %>
      <%= link_to 'Forfeit', forfeit_game_path(@local_game), method: :post, style: "margin-left: 10px", class: 'btn btn-primary btn-danger',data: {confirm: 'Are you sure?'} %>
    </div>
  </div>
<% end %>

