<div class="col-12 offset-4">
  <br />
  <br />
  <br />

  <table class="chessboard">


    <% (1..8).to_a.reverse.each do |row_number| %>
      <tr>
        <% ["A","B","C","D","E","F","G","H"].each_with_index do |rank , index| %>
          <% piece = @local_pieces.find {|piece| piece.position_y == row_number && piece.position_x == index+1} %>

          <% if row_number.odd? %>
            <% if index.even? %>
              <td class="black tile droppable draggable" data-position_x=<%= index+1 %> data-position_y=<%= row_number %> data-piece-id= <%= piece ? piece.id : nil %>>
                <%= check_piece(index + 1, row_number) %>
              </td>
            <% else %>
              <td class="white tile droppable draggable "  data-position_x=<%= index+1 %> data-position_y=<%= row_number %> data-piece-id= <%= piece ? piece.id : nil %>>
                <%= check_piece(index + 1, row_number) %>
              </td>
            <% end %>
          <% else %>
            <% if index.even? %>
              <td class="white tile droppable draggable" data-position_x=<%= index+1 %> data-position_y=<%= row_number %> data-piece-id= <%= piece ? piece.id : nil %>>
                <%= check_piece(index + 1, row_number) %>
              </td>
            <% else %>
              <td class="black tile droppable draggable" data-position_x=<%= index+1 %> data-position_y=<%= row_number %> data-piece-id= <%= piece ? piece.id : nil %>>
                <%= check_piece(index + 1, row_number) %>
              </td>
            <% end %>
          <% end %>
        <% end %>
      </tr>
    <% end %>
  </table>
</div>
<%= link_to 'Forfeit', '#', method: :update, data: {confirm: 'Are you sure you want to forfeit?'},class: 'btn btn-primary btn-danger' %>
