
<br/>
<div id="action_box" class="col-10 offset-4 row">
<h4> Next move: &nbsp; &nbsp;</h4>
  <% if @local_game.next_player_id == @local_game.white_player.id %>
   <h4> <%= "White Player" %> </h4>
  <% else %>
   <h4><%= "Black Player" %> </h4>
  <% end %>
</div>
<hr/>
<div id="game_board" data-current_player=<%= current_user.id %> data-move_player=<%= @local_game.next_player_id %> data-white_player=<%= @local_game.white_player.id %> class="col-10 offset-4">

  <table class="chessboard">

    <% (1..8).to_a.reverse.each do |row_number| %>
      <tr>
        <% ["A","B","C","D","E","F","G","H"].each_with_index do |rank , index| %>
          <% piece = @local_pieces.find {|piece| piece.position_y == row_number && piece.position_x == index+1} %>

          <% if row_number.odd? %>
            <% if index.even? %>
              <td class="black tile droppable draggable" data-position_x=<%= index+1 %> data-position_y=<%= row_number %> data-piece-id= <%= piece ? piece.id : nil %> data-type=<%= piece ? piece.type : nil %>>
                <%= check_piece(index + 1, row_number) %>
              </td>
            <% else %>
              <td class="white tile droppable draggable "  data-position_x=<%= index+1 %> data-position_y=<%= row_number %> data-piece-id= <%= piece ? piece.id : nil %> data-type=<%= piece ? piece.type : nil %>>
                <%= check_piece(index + 1, row_number) %>
              </td>
            <% end %>
          <% else %>
            <% if index.even? %>
              <td class="white tile droppable draggable" data-position_x=<%= index+1 %> data-position_y=<%= row_number %> data-piece-id= <%= piece ? piece.id : nil %> data-type=<%= piece ? piece.type : nil %>>
                <%= check_piece(index + 1, row_number) %>
              </td>
            <% else %>
              <td class="black tile droppable draggable" data-position_x=<%= index+1 %> data-position_y=<%= row_number %> data-piece-id= <%= piece ? piece.id : nil %> data-type=<%= piece ? piece.type : nil %>>
                <%= check_piece(index + 1, row_number) %>
              </td>
            <% end %>
          <% end %>
        <% end %>
      </tr>
    <% end %>
  </table>

</div>
<br class="clear"/>
<hr/>
<% if @local_game.result == nil %>
      <h4 >Available actions: &nbsp; &nbsp; </h4>
  <div id="action_box" class="col-10 offset-4 row">
      <%= link_to 'Forfeit', forfeit_game_path(@local_game), method: :post, style: "margin-left: 10px", class: 'btn btn-primary btn-danger',data: {confirm: 'Are you sure?'} %>
    </div>
  </div>
<% end %>


 <div id="myModal" class="modal" method="post">
  <div class="modal-content">
    <span class="close">CLOSE</span>
    <form id="myForm">
      <p>Veuillez choisir la meilleure méthode pour vous contacter :</p>
      <div>
        <input type="radio" id="promoChoice1"
         name="contact" value="Queen">
        <label for="promoChoice1">Queen</label>

        <input type="radio" id="promoChoice2"
         name="contact" value="Rook">
        <label for="promoChoice2">Rook</label>

        <input type="radio" id="promoChoice3"
         name="contact" value="Bishop">
        <label for="promoChoice3">Bishop</label>

        <input type="radio" id="promoChoice4"
         name="contact" value="Knight">
        <label for="promoChoice4">Knight</label>


      </div>
      <div>
        <button type="submit">Envoyer</button>
      </div>
    </form>
 </div>
</div>




<script>
// var form = document.querySelector("form");
// var log = document.querySelector("#log");
// var modal = document.getElementById('myModal');

// form.addEventListener("submit", function(event) {
//   var data = new FormData(form);
//   var output = "";
//   for (const entry of data) {
//     // output = entry[0] + "=" + entry[1] + "\r";
//     promo = entry[1];
//   };
//   console.log(promo);
//   // log.innerText = output;
//   event.preventDefault();
//   modal.style.display = "none";
// }, false);
</script>





