<div class="table-responsive">
<table class="board table chess">

<% first_tile_white = true %>
<% 7.downto(0) do |row| %>
  <tr class="row row<%= row %>">
  <% 0.upto(7) do |column| %>   
    <td class="col-xs-1 space <%= column %><%= row %> <%= tile_color(first_tile_white, column) %>" id="<%= column %><%= row %>">
      <% @pieces.each do |piece| %>
          <% if piece.x_coord == column && piece.y_coord == row && piece.color == @current_user_color %> 
            <%= link_to image_tag(piece.image, :class=>"img-responsive moveable", :id=>piece.id), select_path( :piece_id => piece, :x_coord => piece.x_coord, :y_coord => piece.y_coord ) %>
          <% elsif piece.x_coord == column && piece.y_coord == row %>
            <%= image_tag(piece.image, :class=>"img-responsive") %>
          <% end%>
      <% end %>
    </td>
  <% end %>
  </tr>
  <% first_tile_white = first_tile_white.! %>
<% end %>
</table>
</div>