
  <!-- from jquery ui droppable-->
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <style>
  #draggable { width: 64px; height: 64px; float: left;}
  #droppable { width: 64px; height: 64px; float: left; }
  </style>
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script>

  $( function() {

    $( "#chessboard #draggable" ).draggable({
      // axis : 'y'
      containment : 'table',
      snap :'.tile',
      snapTolerance: 32,
      snapMode: "inner",

      drag: function( event, ui ) {}

      // revert : true
      // grid : [64 , 64]
    })



    $( "#chessboard #droppable" ).droppable({
      drop: function( event, ui ) {
        $( this )
          // .addClass( "ui-state-highlight" )
          // alert('hey');

      }
    });

  });
  </script>


<div class="col-12 offset-4">
  <br />
  <br />
  <br />


  <table id="chessboard">


    <% (1..8).to_a.reverse.each do |row_number| %>
      <tr>
        <% ["A","B","C","D","E","F","G","H"].each_with_index do |rank , index| %>

          <% if row_number.odd? %>
            <% if index.even? %>
              <td class="black tile">
                <%= check_piece(index + 1, row_number) %>
              </td>
            <% else %>
              <td class="white tile">
                <%= check_piece(index + 1, row_number) %>

              </td>
            <% end %>
          <% else %>
            <% if index.even? %>
              <td class="white tile">
                <%= check_piece(index + 1, row_number) %>
              </td>
            <% else %>
              <td class="black tile">
                <%= check_piece(index + 1, row_number) %>
              </td>

            <% end %>
          <% end %>
        <% end %>
      </tr>
    <% end %>
  </table>
  <%= link_to 'Forfeit', forfeit_game_path(@local_game), method: :post, class: 'btn btn-primary btn-danger',data: {confirm: 'Are you sure?'} %>
</div>
