
  <!-- from jquery ui droppable-->
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <style>
  .draggable { width: 64px; height: 64px; float: left;}
  .droppable { width: 64px; height: 64px; float: left; }
  </style>
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script>

  $( function() {
  
    var drag = $( ".draggable" ).children()
    
    // drag control
    drag.draggable({
      containment : 'table',
      snap :'.tile',
      snapTolerance: 32,
      snapMode: "inner",

      drag: function( event, ui ) {

      }
    })

    // drop function
    $( ".droppable").children().droppable({
      drop: function( event, ui ) {
        var dest = $(this).parent().data();
        var origX = ui.draggable.parent().data('position_x');
        var origY = ui.draggable.parent().data('position_y');
        var piece = {position_x: origX, position_y: origY};
        console.log(piece);
        console.log(dest);
         $.ajax({
          type: 'PUT',
          url: '/pieces/update',
          dataType: 'json',
          data: piece
        }).done(function(data){})
      }
    });

  });
  </script>


<div class="col-12 offset-4">
  <br />
  <br />
  <br />


  <table class="chessboard">


    <% (1..8).to_a.reverse.each do |row_number| %>
      <tr>
        <% ["A","B","C","D","E","F","G","H"].each_with_index do |rank , index| %>

          <% if row_number.odd? %>
            <% if index.even? %>
              <td class="black tile droppable draggable" data-position_x=<%= index+1 %> data-position_y=<%= row_number %>>
                <%= check_piece(index + 1, row_number) %>
              </td> 
            <% else %>
              <td class="white tile droppable draggable "  data-position_x=<%= index+1 %> data-position_y=<%= row_number %>>
                <%= check_piece(index + 1, row_number) %>

              </td>
            <% end %>
          <% else %>
            <% if index.even? %>
              <td class="white tile droppable draggable" data-position_x=<%= index+1 %> data-position_y=<%= row_number %>>
                <%= check_piece(index + 1, row_number) %>
              </td>
            <% else %>
              <td class="black tile droppable draggable" data-position_x=<%= index+1 %> data-position_y=<%= row_number %>>
                <%= check_piece(index + 1, row_number) %>
              </td>

            <% end %>
          <% end %>
        <% end %>
      </tr>
    <% end %>
  </table>
</div>


