
<br/>
<div id="action_box" class="col-10 offset-4 row" >
<h4> Next move: &nbsp; &nbsp;</h4>
  <% if @game.next_player_id == @game.white_player.id %>
   <h4> <%= "White Player" %> </h4>
  <% else %>
   <h4><%= "Black Player" %> </h4>
  <% end %>
</div>
<hr/>
<div id="game_board" data-current_player=<%= current_user.id %> data-move_player=<%= @game.next_player_id %> data-white_player=<%= @game.white_player.id %> class="col-10 offset-4">

  <table class="chessboard">

    <% (1..8).to_a.reverse.each do |row_number| %>
      <tr>
        <% ["A","B","C","D","E","F","G","H"].each_with_index do |rank , index| %>
          <% piece = @pieces.find {|piece| piece.position_y == row_number && piece.position_x == index+1} %>

          <% if row_number.odd? %>
            <% if index.even? %>
              <td class="black tile droppable draggable" data-position_x=<%= index+1 %> data-position_y=<%= row_number %> data-piece-id= <%= piece ? piece.id : nil %> data-type=<%= piece ? piece.type : nil %> data-en_passant=<%= piece ? piece.en_passant : nil %>>
                <%= check_piece(index + 1, row_number) %>
              </td>
            <% else %>
              <td class="white tile droppable draggable "  data-position_x=<%= index+1 %> data-position_y=<%= row_number %> data-piece-id= <%= piece ? piece.id : nil %> data-type=<%= piece ? piece.type : nil %> data-en_passant=<%= piece ? piece.en_passant : nil %>>
                <%= check_piece(index + 1, row_number) %>
              </td>
            <% end %>
          <% else %>
            <% if index.even? %>
              <td class="white tile droppable draggable" data-position_x=<%= index+1 %> data-position_y=<%= row_number %> data-piece-id= <%= piece ? piece.id : nil %> data-type=<%= piece ? piece.type : nil %> data-en_passant=<%= piece ? piece.en_passant : nil %>>
                <%= check_piece(index + 1, row_number) %>
              </td>
            <% else %>
              <td class="black tile droppable draggable" data-position_x=<%= index+1 %> data-position_y=<%= row_number %> data-piece-id= <%= piece ? piece.id : nil %> data-type=<%= piece ? piece.type : nil %> data-en_passant=<%= piece ? piece.en_passant : nil %>>
                <%= check_piece(index + 1, row_number) %>
              </td>
            <% end %>
          <% end %>
        <% end %>
      </tr>
    <% end %>
  </table>

</div>
<br class="clear"/>
<hr/>
<% if @game.result == nil %>
      <h4>Available actions: &nbsp; &nbsp; </h4>
  <div id="action_box_transp" class="col-10 offset-4 row">
      <%= link_to 'Forfeit', forfeit_game_path(@game), method: :post, style: "margin-left: 10px", class: 'btn btn-block btn-danger',data: {confirm: 'Are you sure?'} %>
    </div>
  </div>
<% end %>
<br/>
<div style="text-align: center" id="action_box" class="col-10 offset-4 row">
  <h4>King in Check: &nbsp; &nbsp;</h4>
  <% color = "white" %>
  <% if @game.next_player_id == @game.black_player.id %>
    <% color = "black" %>
    <% if @game.player_in_check?(color) %>
      <h4>Yes</h4>
    <% else %>
      <h4>No</h4>
    <% end %>
  <% end %>
</div>
 <br/>
<div id="action_box" class="col-10 offset-4 row">
  <h4>King in Checkmate: &nbsp; &nbsp;</h4>
  <% color = "white" %>
  <% if @game.next_player_id == @game.black_player.id %>
    <% color = "black" %>
    <% if @game.player_checkmate?(color) %>
      <h4>Yes</h4>
    <% else %>
      <h4>No</h4>
    <% end %>
  <% end %>
</div>
<br/>
<div id="action_box" class="col-10 offset-4 row">


  <h4>King in Stalemate: &nbsp; &nbsp;</h4>
  <% color = "white" %>
  <% if @game.next_player_id == @game.black_player.id %>
    <% color = "black" %>
    <% if @game.is_stalemate?(color) %>
      <h4>Yes</h4>
    <% else %>
      <h4>No</h4>
    <% end %>
  <% end %>
</div>
<br/>
<br/>
<br/>

<br class="clear"/>

 <div id="myModal" class="modal" method="post" style="text-align: center;">
  <div class="modal-content">
    
    
    <!-- <span class="close">CLOSE</span> -->
    <form id="myForm">
      <h3>Choose your promotion:</h3>
      <h5>If you don't make any choice your pawn will not promote and remain.. a pawn!</h5>
      <h5>Click anywhere out of the box to make another move instead</h5>
      <br/>
      <div class="row center" style="text-align: center";>
        
        <div class="promo">
          <% if @game.next_player_id == @game.white_player.id %>
            <%= image_tag('chess_piece_queen_white.png', :class=>"img-responsive white-piece")%><br/>
          <% else %>
            <%= image_tag('chess_piece_queen_black.png', :class=>"img-responsive white-piece")%><br/>
          <% end %>
          <input type="radio" id="promoChoice1" name="contact" value="Queen">
          <label for="promoChoice1">Queen </label> <br/> 
        </div>
       
         <div class="promo">
            <% if @game.next_player_id == @game.white_player.id %>
            <%= image_tag('chess_piece_rook_white.png', :class=>"img-responsive white-piece")%><br/>
          <% else %>
            <%= image_tag('chess_piece_rook_black.png', :class=>"img-responsive white-piece")%><br/>
          <% end %>
          <input type="radio" id="promoChoice1" name="contact" value="Rook">
          <label for="promoChoice1">Rook </label> <br/> 
        </div class="center">
      
         <div class="promo">
            <% if @game.next_player_id == @game.white_player.id %>
            <%= image_tag('chess_piece_bishop_white.png', :class=>"img-responsive white-piece")%><br/>
          <% else %>
            <%= image_tag('chess_piece_bishop_black.png', :class=>"img-responsive white-piece")%><br/>
          <% end %>
          <input type="radio" id="promoChoice1" name="contact" value="Bishop">
          <label for="promoChoice1">Bishop </label> <br/> 
        </div>
        
        <div class="promo">
          <% if @game.next_player_id == @game.white_player.id %>
            <%= image_tag('chess_piece_knight_white.png', :class=>"img-responsive white-piece")%><br/>
          <% else %>
            <%= image_tag('chess_piece_knight_black.png', :class=>"img-responsive white-piece")%><br/>
          <% end %>
          <input type="radio" id="promoChoice1" name="contact" value="Knight">
          <label for="promoChoice1">Knight </label> <br/> 
        </div>

      </div>
      <div>
        <button type="submit">PROMOTE!</button>
      </div>
    </form>
 </div>
</div>






